<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.techouse.alfred-gitmoji</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>E50F9D21-04DF-4185-A2CB-40B7111F31C0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F404D930-F17D-43D0-B06B-28D6A000A93F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B1E797A8-B1C1-4A07-A340-67D2AC741B3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F6F9BD70-3218-4D80-A4D2-63C6A77142CA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E50F9D21-04DF-4185-A2CB-40B7111F31C0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D6793604-058B-4867-A1EA-BF8C2B8B3733</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Only copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Klemen Tušar</string>
	<key>description</key>
	<string>Search for gitmojis and copy them to the clipboard easily</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gitmoji</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gm -u</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F404D930-F17D-43D0-B06B-28D6A000A93F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>update:workflow</string>
						<key>outputlabel</key>
						<string>Update Workflow</string>
						<key>uid</key>
						<string>D850B7E1-B6F7-4A5E-8EF6-522CBF4E0A21</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Copy to Clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>E50F9D21-04DF-4185-A2CB-40B7111F31C0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query} </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>B1E797A8-B1C1-4A07-A340-67D2AC741B3C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gm</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>2</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching gitmojis ...</string>
				<key>script</key>
				<string>./gm -q "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for gitmojis and copy them to the clipboard easily</string>
				<key>title</key>
				<string>Search for gitmojis</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F6F9BD70-3218-4D80-A4D2-63C6A77142CA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D6793604-058B-4867-A1EA-BF8C2B8B3733</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B1E797A8-B1C1-4A07-A340-67D2AC741B3C</key>
		<dict>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>205</integer>
		</dict>
		<key>D6793604-058B-4867-A1EA-BF8C2B8B3733</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>E50F9D21-04DF-4185-A2CB-40B7111F31C0</key>
		<dict>
			<key>xpos</key>
			<integer>580</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>F404D930-F17D-43D0-B06B-28D6A000A93F</key>
		<dict>
			<key>xpos</key>
			<integer>845</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>F6F9BD70-3218-4D80-A4D2-63C6A77142CA</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.3</string>
	<key>webaddress</key>
	<string>https://github.com/techouse</string>
</dict>
</plist>
